USE [master]
GO
/****** Object:  Database [METADATA_STAGE]    Script Date: 29/08/2017 3:55:54 PM ******/
CREATE DATABASE [METADATA_STAGE]
 CONTAINMENT = NONE
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [METADATA_STAGE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [METADATA_STAGE]
GO
/****** Object:  User [vinhphan]    Script Date: 29/08/2017 3:55:55 PM ******/
CREATE USER [vinhphan] FOR LOGIN [vinhphan] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [dw_user]    Script Date: 29/08/2017 3:55:55 PM ******/
CREATE USER [dw_user] FOR LOGIN [dw_user] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [dw_user]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [dw_user]
GO
ALTER ROLE [db_datareader] ADD MEMBER [dw_user]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [dw_user]
GO
/****** Object:  Table [dbo].[CDC]    Script Date: 29/08/2017 3:55:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CDC](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TableId] [int] NULL,
	[FirstTimeETL] [char](1) NULL,
	[LastUpdatedVersionId] [int] NULL,
	[LastUpdatedDate] [datetime] NULL,
	[LastUpdatedId] [int] NULL,
	[LSET] [datetime] NULL,
	[LastTimeStamp] [timestamp] NULL,
 CONSTRAINT [PK_CDC] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Database]    Script Date: 29/08/2017 3:55:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Database](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StoreID] [int] NULL,
	[StoreName] [varchar](128) NULL,
	[DatabaseName] [varchar](128) NULL,
	[Status] [varchar](128) NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_Store] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Table]    Script Date: 29/08/2017 3:55:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Table](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TableName] [varchar](128) NULL,
	[DatabaseId] [int] NULL,
	[BeforeUpdatedRows] [int] NULL,
	[UpdatedRows] [int] NULL,
	[LastUpdated] [datetime] NULL,
	[Status] [varchar](128) NULL,
	[ErrorDate] [datetime] NULL,
	[DB_UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_Table] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TablesDescription]    Script Date: 29/08/2017 3:55:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TablesDescription](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DatabaseId] [int] NULL,
	[TableId] [int] NULL,
	[Field] [varchar](128) NULL,
	[Description] [varchar](1000) NULL,
	[UpdatedDate] [datetime] NULL CONSTRAINT [DF_TablesDescription_UpdatedDate]  DEFAULT (getdate()),
 CONSTRAINT [PK_TablesDescription] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Database] ON 

INSERT [dbo].[Database] ([ID], [StoreID], [StoreName], [DatabaseName], [Status], [UpdatedDate]) VALUES (1, 1, N'Autumn Place Pharmacy', N'Price Line POS', NULL, NULL)
INSERT [dbo].[Database] ([ID], [StoreID], [StoreName], [DatabaseName], [Status], [UpdatedDate]) VALUES (2, 1, N'Autumn Place Pharmacy', N'Fred Dispense', NULL, NULL)
INSERT [dbo].[Database] ([ID], [StoreID], [StoreName], [DatabaseName], [Status], [UpdatedDate]) VALUES (3, 1, N'Autumn Place Pharmacy', N'Fred Office', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Database] OFF
SET IDENTITY_INSERT [dbo].[TablesDescription] ON 

INSERT [dbo].[TablesDescription] ([ID], [DatabaseId], [TableId], [Field], [Description], [UpdatedDate]) VALUES (1, NULL, NULL, N'Status', N'"enable" or "disable", so we can detect which table is activated', CAST(N'2017-08-29 15:49:30.963' AS DateTime))
INSERT [dbo].[TablesDescription] ([ID], [DatabaseId], [TableId], [Field], [Description], [UpdatedDate]) VALUES (2, NULL, NULL, N'UpdatedRows', N'the number if rows which has been transferred to Box in the last ETL', CAST(N'2017-08-29 15:50:45.710' AS DateTime))
INSERT [dbo].[TablesDescription] ([ID], [DatabaseId], [TableId], [Field], [Description], [UpdatedDate]) VALUES (3, NULL, NULL, N'LastUpdated', N'the last ETL in datetime', CAST(N'2017-08-29 15:51:09.177' AS DateTime))
SET IDENTITY_INSERT [dbo].[TablesDescription] OFF
ALTER TABLE [dbo].[CDC] ADD  CONSTRAINT [DF_CDC_FirstTimeETL]  DEFAULT ('T') FOR [FirstTimeETL]
GO
ALTER TABLE [dbo].[Table] ADD  CONSTRAINT [DF_Table_DB_UpdatedDate]  DEFAULT (getdate()) FOR [DB_UpdatedDate]
GO
ALTER TABLE [dbo].[CDC]  WITH CHECK ADD  CONSTRAINT [FK_CDC_Table] FOREIGN KEY([TableId])
REFERENCES [dbo].[Table] ([ID])
GO
ALTER TABLE [dbo].[CDC] CHECK CONSTRAINT [FK_CDC_Table]
GO
ALTER TABLE [dbo].[Table]  WITH CHECK ADD  CONSTRAINT [FK_Table_Database] FOREIGN KEY([DatabaseId])
REFERENCES [dbo].[Database] ([ID])
GO
ALTER TABLE [dbo].[Table] CHECK CONSTRAINT [FK_Table_Database]
GO
ALTER TABLE [dbo].[TablesDescription]  WITH CHECK ADD  CONSTRAINT [FK_TablesDescription_Database] FOREIGN KEY([DatabaseId])
REFERENCES [dbo].[Database] ([ID])
GO
ALTER TABLE [dbo].[TablesDescription] CHECK CONSTRAINT [FK_TablesDescription_Database]
GO
ALTER TABLE [dbo].[TablesDescription]  WITH CHECK ADD  CONSTRAINT [FK_TablesDescription_Table] FOREIGN KEY([TableId])
REFERENCES [dbo].[Table] ([ID])
GO
ALTER TABLE [dbo].[TablesDescription] CHECK CONSTRAINT [FK_TablesDescription_Table]
GO
USE [master]
GO
