USE [AG_METADATA]
GO
/****** Object:  Table [dbo].[Databases]    Script Date: 18/11/2017 9:22:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Databases](
	[DatabaseID] [int] NOT NULL,
	[DatabaseName] [varchar](128) NULL,
	[Kind] [varchar](10) NULL,
	[Description] [varchar](4000) NULL,
	[LinkedServerName] [varchar](150) NULL,
	[Status] [int] NULL,
	[StoreID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DatabaseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DataFlow]    Script Date: 18/11/2017 9:22:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DataFlow](
	[DataFlowID] [int] NOT NULL,
	[DataFlowName] [varchar](50) NULL,
	[Description] [varchar](4000) NULL,
	[SourceTableID] [int] NULL,
	[DestTableID] [int] NULL,
	[ExtractMethod] [int] NULL,
	[ColumnName] [varchar](50) NULL,
	[PriorityRun] [int] NULL,
	[LSET] [datetime] NULL,
	[CET] [datetime] NULL,
	[LSEI] [bigint] NULL,
	[CEI] [bigint] NULL,
	[LChangeTrackingID] [bigint] NULL,
	[CChangeTrackingID] [bigint] NULL,
	[LTimestampVersion] [binary](50) NULL,
	[CTimestampVersion] [binary](50) NULL,
	[PackageID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DataFlowID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LogDataFlow]    Script Date: 18/11/2017 9:22:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LogDataFlow](
	[LogDataFlow] [int] IDENTITY(1,1) NOT NULL,
	[DataFlowID] [int] NULL,
	[CreatedTime] [datetime] NULL,
	[Type] [varchar](100) NULL,
	[Message] [varchar](4000) NULL,
	[RowCounts] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LogPackage]    Script Date: 18/11/2017 9:22:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LogPackage](
	[LogPackageID] [int] IDENTITY(1,1) NOT NULL,
	[PackageID] [int] NULL,
	[CreatedTime] [datetime] NULL,
	[Type] [varchar](100) NULL,
	[Message] [varchar](4000) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Packages]    Script Date: 18/11/2017 9:22:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Packages](
	[PackageID] [int] NOT NULL,
	[PackageName] [varchar](50) NULL,
	[Description] [varchar](4000) NULL,
	[SourceServer] [varchar](50) NULL,
	[DestServer] [varchar](50) NULL,
	[Status] [int] NULL,
	[LastSuccessRuntime] [datetime] NULL,
	[StoreID] [int] NULL,
	[SourceDatabaseID] [int] NULL,
	[DestDatabaseID] [int] NULL,
	[ParentPackageID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PackageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Stores]    Script Date: 18/11/2017 9:22:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Stores](
	[StoreID] [int] NOT NULL,
	[StoreName] [varchar](50) NULL,
	[Description] [varchar](4000) NULL,
	[IPAddress] [varchar](50) NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[StoreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tables]    Script Date: 18/11/2017 9:22:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tables](
	[TableID] [int] NOT NULL,
	[SchemaName] [varchar](20) NULL,
	[TableName] [varchar](128) NULL,
	[Description] [varchar](4000) NULL,
	[ColumnList] [varchar](4000) NULL,
	[Status] [int] NULL,
	[DatabaseID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TableID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Databases] ([DatabaseID], [DatabaseName], [Kind], [Description], [LinkedServerName], [Status], [StoreID], [CreatedDate], [UpdatedDate]) VALUES (1, N'DW_STAGE', N'STAGE', N'Staging database', N'LS_STAGE', 1, 1, CAST(N'2017-09-26 23:24:56.923' AS DateTime), CAST(N'2017-09-26 23:24:56.923' AS DateTime))
INSERT [dbo].[Databases] ([DatabaseID], [DatabaseName], [Kind], [Description], [LinkedServerName], [Status], [StoreID], [CreatedDate], [UpdatedDate]) VALUES (26, N'Storeops', N'POS', N'Fred POS database of TerryWhite Knox', N'LS_STORE', 1, 7, CAST(N'2017-09-26 23:24:56.923' AS DateTime), CAST(N'2017-09-26 23:24:56.923' AS DateTime))
INSERT [dbo].[Databases] ([DatabaseID], [DatabaseName], [Kind], [Description], [LinkedServerName], [Status], [StoreID], [CreatedDate], [UpdatedDate]) VALUES (27, N'SAMPLE_FRED_DISPENSE', N'DISPENSE', N'Fred Dispense database of TerryWhite Knox', N'LS_STORE', 1, 7, CAST(N'2017-09-26 23:24:56.923' AS DateTime), CAST(N'2017-09-26 23:24:56.923' AS DateTime))
GO
INSERT [dbo].[Packages] ([PackageID], [PackageName], [Description], [SourceServer], [DestServer], [Status], [LastSuccessRuntime], [StoreID], [SourceDatabaseID], [DestDatabaseID], [ParentPackageID], [CreatedDate], [UpdatedDate]) VALUES (25, N'SourceToBox_FREDOFFICE', N'This package is used to extract data from FRED OFFICE database from source into box computer for Store TerryWhite Knox', N'TerryWhite Knox', N'BoxComputer', 0, CAST(N'2017-11-18 21:19:51.327' AS DateTime), 7, 28, 30, NULL, CAST(N'2017-09-26 23:24:56.947' AS DateTime), CAST(N'2017-09-26 23:24:56.947' AS DateTime))
INSERT [dbo].[Packages] ([PackageID], [PackageName], [Description], [SourceServer], [DestServer], [Status], [LastSuccessRuntime], [StoreID], [SourceDatabaseID], [DestDatabaseID], [ParentPackageID], [CreatedDate], [UpdatedDate]) VALUES (26, N'BoxToStage_FREDOFFICE', N'This package is used to extract data from FRED OFFICE database from box computer into Staging for Store TerryWhite Knox', N'BoxComputer', N'StagingDW', 0, CAST(N'2017-11-18 21:19:53.340' AS DateTime), 7, 30, 1, 25, CAST(N'2017-09-26 23:24:56.947' AS DateTime), CAST(N'2017-09-26 23:24:56.947' AS DateTime))
INSERT [dbo].[Packages] ([PackageID], [PackageName], [Description], [SourceServer], [DestServer], [Status], [LastSuccessRuntime], [StoreID], [SourceDatabaseID], [DestDatabaseID], [ParentPackageID], [CreatedDate], [UpdatedDate]) VALUES (27, N'SourceToBox_POS', N'This package is used to extract data from FRED POS database from source into box computer for Store TerryWhite Knox', N'TerryWhite Knox', N'BoxComputer', 0, CAST(N'2017-11-18 21:19:53.777' AS DateTime), 7, 26, 30, NULL, CAST(N'2017-09-26 23:24:56.947' AS DateTime), CAST(N'2017-09-26 23:24:56.947' AS DateTime))
INSERT [dbo].[Stores] ([StoreID], [StoreName], [Description], [IPAddress], [Status], [CreatedDate], [UpdatedDate]) VALUES (1, N'Autumn Place', N'Autumn Place', N'192.168.x.x', 1, CAST(N'2017-09-26 23:24:56.873' AS DateTime), CAST(N'2017-09-26 23:24:56.873' AS DateTime))
INSERT [dbo].[Stores] ([StoreID], [StoreName], [Description], [IPAddress], [Status], [CreatedDate], [UpdatedDate]) VALUES (2, N'Linden', N'Linden', N'192.168.x.x', 1, CAST(N'2017-09-26 23:24:56.873' AS DateTime), CAST(N'2017-09-26 23:24:56.873' AS DateTime))
INSERT [dbo].[Stores] ([StoreID], [StoreName], [Description], [IPAddress], [Status], [CreatedDate], [UpdatedDate]) VALUES (3, N'Raymond', N'Raymond', N'192.168.x.x', 1, CAST(N'2017-09-26 23:24:56.873' AS DateTime), CAST(N'2017-09-26 23:24:56.873' AS DateTime))
GO
ALTER TABLE [dbo].[Databases]  WITH CHECK ADD FOREIGN KEY([StoreID])
REFERENCES [dbo].[Stores] ([StoreID])
GO
ALTER TABLE [dbo].[DataFlow]  WITH CHECK ADD FOREIGN KEY([PackageID])
REFERENCES [dbo].[Packages] ([PackageID])
GO
ALTER TABLE [dbo].[Packages]  WITH CHECK ADD FOREIGN KEY([DestDatabaseID])
REFERENCES [dbo].[Databases] ([DatabaseID])
GO
ALTER TABLE [dbo].[Packages]  WITH CHECK ADD FOREIGN KEY([ParentPackageID])
REFERENCES [dbo].[Packages] ([PackageID])
GO
ALTER TABLE [dbo].[Packages]  WITH CHECK ADD FOREIGN KEY([SourceDatabaseID])
REFERENCES [dbo].[Databases] ([DatabaseID])
GO
ALTER TABLE [dbo].[Packages]  WITH CHECK ADD FOREIGN KEY([StoreID])
REFERENCES [dbo].[Stores] ([StoreID])
GO
ALTER TABLE [dbo].[Tables]  WITH CHECK ADD FOREIGN KEY([DatabaseID])
REFERENCES [dbo].[Databases] ([DatabaseID])
GO
